@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    padding-bottom: 75px;
    
}

.right-links {
    padding: 0 0 0 100px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    font-weight: bold;
    flex-shrink: 0;

}

ul {
    list-style: none;
    display:flex;
    gap: 30px;
    margin: 0 200px 0 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    
}

.section-1 {
    background-color: #1F2937;
    display:flex;
    justify-content: space-between;
    color:#F9FAF8;
    padding-bottom: 75px;
}

.section-1 .left {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 500px;
    margin-left: 200px;
}

.left button {
    flex-grow: 0;
    width: 150px;
    margin-top: 10px;
    
}

button {
    color:#E5E7EB;
    background-color: #3882F6;
    border-radius: 12px;
    border: none;
    padding: 6px 5px;
}

h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

p {
    margin: 3px 0;
}

.section-1 .right {
    display: flex;
    margin-right: 200px;
}

.section1.image img {
    max-width: 500px; 
}




.section-2 {
    display: flex;
    flex-direction: column;
    

}

.container.img-caption {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding-bottom: 75px;
}

.small-box {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;

}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px 0;
    text-align: center;
}

.small-box > img {
    object-fit:cover;
    border: 2px solid #3882F6;
    border-radius: 25px;
    width: 175px;
    height: 175px;
    object-fit:cover;
    
}

.small-box > p {
    text-align: center;
}




.section-3 {
    background-color: #E5E7EB;
}

.section-4 {

}

.footer {
    background-color: #1F2937;
}