@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400&display=swap');

body {
    font-family: 'Roboto', sans-serif;
    background-color: white;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.header {
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 20px 0px;
    align-items: center;
    padding-bottom: 75px;
    
}

.right-links {
    padding: 0 0 0 100px;
    
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    margin-left: 200px;
    font-weight: bold;
    flex-shrink: 0;

}

ul {
    list-style: none;
    display:flex;
    gap: 30px;
    margin: 0 200px 0 0;
    padding: 0;
}

a{
    text-decoration: none;
    color: #F9FAF8;
    
}

.section-1 {
    background-color: #1F2937;
    display:flex;
    justify-content: center;
    gap:110px;
    color:#F9FAF8;
    padding-bottom: 75px;
    flex-shrink: 0;
}

.section-1 .left {
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    width: 500px;
    margin-left: 200px;
}

.left button {
    flex-grow: 0;
    width: 150px;
    margin-top: 10px;
    color:#E5E7EB;
    background-color: #3882F6;
    border-radius: 12px;
    border: none;
    padding: 6px 5px;
    
}


h1 {
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

p {
    margin: 3px 0;
}

.section-1 .right {
    display: flex;
    margin-right: 200px;
}

.section1.image img {
    max-width: 500px; 
}




.section-2 {
    display: flex;
    flex-direction: column;
    
}

.container.img-caption {
    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 16px;
    padding-bottom: 75px;
    flex-shrink:0;
}

.small-box {
    display: flex;
    flex-direction: column;
    max-width: 200px;
    align-items: center;

}

h2 {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
    margin: 50px 0;
    text-align: center;
    display: block;
    min-width: 800px;
    flex-shrink: 0;
   
}

.small-box > img {
    object-fit:cover;
    border: 2px solid #3882F6;
    border-radius: 25px;
    width: 175px;
    height: 175px;
    object-fit:cover;
    
}

.small-box > p {
    text-align: center;
}




.section-3 {
    background-color: #E5E7EB;
    display:flex;
    justify-content: center;
    align-items:center;
    padding: 75px 200px;
    flex-direction: column;
    max-height: 400px;
}

/*.quote-container {
    max-width: 880px;
    display:flex;
    flex-direction: column;
    
} */

.quote {
    font-size: 36px;
    font-weight:100;
    color: #1F2937;
    font-style: italic;
    min-width: 800px;
    
    

}

.signature {
    align-self: flex-end;
    font-size: 28px;
    margin-right: 50px;
    min-width: 150px;
    
}



.section-4 {
    padding: 75px 100px;
}

.cta-container {
    background-color: #3882F6;
    border-radius: 12px;
    display: flex;
    padding:50px;
    justify-content: center;
    align-items: center;
    gap: 100px;
    min-width: 800px;
}

.cta-left {
    color: #F9FAF8;
    display:flex;
    flex-direction: column;
    flex-shrink: 0;
    min-width: 420px;
}

.cta-heading {
    font-weight: 700;
    font-size: 24px;
}

.cta-text {
    font-size: 18px;
}

.cta-right {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cta-right button {
    width: 125px;
    font-size: 14px;
    font-weight: 700;
    color:#E5E7EB;
    background-color: #3882F6;
    border-radius: 12px;
    border: 3px solid #F9FAF8;
    text-align: center;
    padding: 5px;
}



.footer {
    background-color: #1F2937;
    padding: 30px 0;
    text-align: center;
    color:#E5E7EB;
}